<nav class='navbar text-white fixed-top d-flex justify-content-between align-items-center text-center', style='background-color: #3778c2;'>
<% if controller_name == 'categories' && action_name == 'index' %>
  <i class='fa-solid fa-bars icon'></i>
<% elsif controller_name == 'categories' && action_name == 'new' || controller_name == 'categories' && action_name == 'show' %>
  <%=link_to categories_path do %>
    <i class='fa-solid fa-arrow-left icon'></i>
  <%end%>
<% elsif controller_name == 'expenses' && action_name == 'new' %>
    <%= link_to category_path(@category) do %>
      <i class='fa-solid fa-arrow-left icon'></i>
    <%end%>
<%end%>

  <h2><%= title %></h2>

  <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, data: {
        turbo_method: :delete,
      }, class:"signout-btn fs-6 text-danger" %>
  <%end%>
</nav>