<section class="name-container container">
  <div class='d-flex'>
    <h2 class="title">Budget App</h2>
  </div>
  
  <div class="d-flex flex-column fixed-bottom">
    <%= link_to 'Sign in', new_user_session_path, class:'signin-btn d-grid gap-2 col-2 text-decoration-none p-3 mb-2 fs-6 fw-semibold'%>
    <%= link_to 'Sign up', new_user_registration_path, class:'signup-btn d-grid gap-2 col-2 border text-decoration-none p-3 mb-1 fs-6 fw-semibold' %>
  </div>
</section>
