@import "bootstrap";
@import 'font-awesome';

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #f0f2f1;
  font-family: 'Proxima Nova', sans-serif;
}

.title {
  font-weight: bolder;
}

.navbar {
  padding: 1rem;
}

.container-info {
  display: flex;
  flex-direction: column;
}

.image {
  width: 100px;
  height: 80px;
}

.category-item {
  min-width: 350px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.no-cat {
  margin: 3rem auto 0;
}

.expense-container {
  display: flex;
  justify-content: center;
}

.margin-zero {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.expense-info {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.icon {
  margin-left: 15px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.form {
  min-width: 350px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  border: 1px solid #d3d3d3;
  padding: 20px 5px;
  background-color: #fff;
}

.field {
  min-width: 350px;
}

.name-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the section takes up at least the viewport height */
}

.name-container .d-flex {
  flex: 1; /* Distribute available space evenly between the two divs */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
}

.name-container .d-flex.fixed-bottom {
  margin-top: auto; /* Pushes the second div to the bottom */
}